#sidebar{
  background-color:#202225;
}
#feature{
  background-color:#2f3136;
  color: #ffffff;
}
#clicksection{
  background-color:#36393f;
}
.icon{
  background-color:#2f3136;
  border-color: #ffffff !important;
}
.icon:hover{
  background-color:#3f4249;
}
.tooltiptext{
  background-color:#202225;
  color: #ffffff;
}
#wCounter{
  color: #ffffff;
}
#incomeCounter{
  color: #ffffff;
}
#ciastko{
  background-image:url("../images/discord.png");
}
#cheatNotice{
  color: #7A7B7F;
}
.tooltipAchievement{
  background-color:#202225;
  color: #ffffff;
}
.achievementQuotation{
  color: #7A7B7F;
}
.upgradeTooltip{
  background-color:#202225;
  color: #ffffff;
}
